@{
    ViewData["Title"] = "Info";
}
<h1>Welcome to the School Administration-themed Web Application.</h1>

<p>This application was developed as part of an ASP.NET Core MVC course with the goal of experimenting with various functionalities and technical solutions.
    The aim was to become familiar with the structure of an MVC web application, utilize DTOs, implement authentication,
    and demonstrate access restriction to different parts of the web application. The objective was not to fully finalize and perfect the application.
    The application was deployed to Microsoft Azure to get used to this platform.</p>
<p>For full access to the application, please use <span class="bg-warning rounded px-1">Username: "admin" Password: "Abcd1234."</span>.
    Please behave respectfully while testing the application with the admin account. Thank you.</p>
